<p></p>
<div nz-row class="margin">
    <div nz-col nzSpan="10"><h2>{{textos.titulo}}</h2></div>
    <div nz-col nzSpan="8">
        <button
            nz-button
            nzType="primary"
            nzSize="large"
            nzShape="round"
            (click)="obtenerEmpleados()"> 
            <em nz-icon nzType="redo"></em>{{textos.boton.recargar}}
        </button>
    </div>
    <div nz-col nzSpan="4">
        <button
            nz-button
            nzType="primary"
            nzSize="large"
            nzShape="round"
            (click)="open('agregar')"> 
            <em nz-icon nzType="user-add"></em>{{textos.boton.agregar}}
        </button>
    </div>
  </div>
<nz-skeleton *ngIf="cargando" [nzActive]="true"></nz-skeleton>
<app-lista
    *ngIf="rows && !cargando"
    [columnas]="columnas"
    [rows]="rows"
    [rowsPorPagina]="10"
    (alDarClicBoton)="alDarClicBoton($event)">
</app-lista>
<nz-alert *ngIf="!rows && !cargando" nzType="error" [nzMessage]="textos.alertas.error"></nz-alert>

<nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzWidth]="400"
      [nzVisible]="visible"
      [nzTitle]="tituloDrawer"
      (nzOnClose)="close()"
    >
    <div *ngIf="visible">
        <app-editar-empleado *ngIf="tipoFormulario === 'editar' " [empleado]="empleado" (alEditar)="alEditar($event)"></app-editar-empleado>
        <app-agregar-empleado *ngIf="tipoFormulario === 'agregar' " (alAgregar)="alAgregar($event)"></app-agregar-empleado>
        <app-detalle-empleado [empleado]="empleado" *ngIf="tipoFormulario === 'detalle' "></app-detalle-empleado>
    </div>
</nz-drawer>