<nz-table #list [nzData]="rows" [nzPageSize]="rowsPorPagina">
    <thead>
      <tr>
        <th [id]="columna.key" *ngFor="let columna of columnas">{{columna.nombre}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of list.data">
        <tr *ngIf="row">
          <ng-container *ngFor="let columna of columnas">
            <td>
              <div *ngIf="!columna.boton && !columna.pipe">{{row[columna.key] }}</div>
              <div *ngIf="!columna.boton && columna.pipe && columna.pipe === 'currency' ">{{row[columna.key] | currency }}</div>
              <button
                *ngIf="columna.boton && !columna.boton.popover"
                nz-button
                [nzType]="columna.boton.type"
                [nzShape]="columna.boton.shape"
                [nzDanger]="columna.boton.danger"
                (click)="alDarClicBot(row, columna)"
                [nzTooltipPlacement]="'topCenter'"
                [nzTooltipTitle]="columna.boton.nombre"
                nz-tooltip
              >
                <em *ngIf="columna.boton.icon" nz-icon [nzType]="columna.boton.icon" ></em>
              </button>
              <button
                *ngIf="columna.boton && columna.boton.popover"
                nz-button
                [nzType]="columna.boton.type"
                [nzShape]="columna.boton.shape"
                [nzDanger]="columna.boton.danger"
                [nzTooltipPlacement]="'topCenter'"
                [nzTooltipTitle]="columna.boton.nombre"
                nz-tooltip
                nzPopoverTrigger="click"
                [nzPopoverContent]="contentTemplate"
                [nzPopoverTitle]="columna.boton.popoverTitle"
                [nz-popover]="columna.boton.popover"
              >
                <em *ngIf="columna.boton.icon" nz-icon [nzType]="columna.boton.icon" ></em>
              </button>
              <ng-template #contentTemplate>
                <a (click)="alDarClicBot(row, columna)">
                  <em *ngIf="columna.boton.icon" nz-icon [nzType]="columna.boton.icon" ></em> {{columna.boton.nombre}}
                </a>
              </ng-template>
            </td>
          </ng-container>
        </tr>
      </ng-container>
      
    </tbody>
</nz-table>