<nz-card nzHoverable style="width:340px" [nzCover]="coverTemplate" id="empleado">
    <hr>
    <nz-card-meta [nzTitle]="empleado.employee_name"></nz-card-meta>
    <br>
    <h3>Id: {{empleado.id}}</h3>
    <h3>edad: {{empleado.employee_age}}</h3>
    <h3>Salario: {{empleado.employee_salary | currency}}</h3>
</nz-card>
<ng-template #coverTemplate>
    <img alt="example" [src]="empleado.profile_image || imgDefault" />
</ng-template>
<div nz-row nzJustify="center" class="margin">
    <button
        nz-button
        nzType="primary"
        nzSize="large"
        nzShape="round"
        (click)="generarPDF()"> 
        <em nz-icon nzType="redo"></em>{{textos.botonPdf.nombre}}
    </button>
</div>

