
<form nz-form [formGroup]="formEmpleado">
    <nz-form-item>
      <nz-form-label [nzSpan]="24">{{textos.input.nombre.label}}</nz-form-label>
      <nz-form-control [nzErrorTip]="textos.input.nombre.error" [nzSpan]="24">
        <nz-input-group nzPrefixIcon="smile">
          <input type="text" nz-input formControlName="employee_name" [placeholder]="textos.input.nombre.placeholder"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row>
      <div nz-col [nzSpan]="11">
        <nz-form-item>
          <nz-form-label [nzSpan]="24">{{textos.input.edad.label}}</nz-form-label>
          <nz-form-control [nzErrorTip]="textos.input.edad.error" [nzSpan]="24">
              <nz-input-number 
                formControlName="employee_age"
                [nzMin]="18"
                [nzMax]="99"
                [nzStep]="1"
                [nzFormatter]="formatterNumber"
                [nzPlaceHolder]="textos.input.edad.placeholder">
              </nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="11" [nzOffset]="2">
        <nz-form-item>
          <nz-form-label [nzSpan]="24">{{textos.input.salario.label}}</nz-form-label>
          <nz-form-control [nzErrorTip]="textos.input.salario.error" [nzSpan]="24">
            <nz-input-number
                formControlName="employee_salary"
                [nzMin]="1"
                [nzMax]="999999"
                [nzStep]="1"
                [nzFormatter]="formatterDollar"
                [nzParser]="parserDollar"
                [nzPlaceHolder]="textos.input.salario.placeholder"
              ></nz-input-number>
          </nz-form-control>
      </nz-form-item>
      </div>
      
      
    </div>
      
</form>
<div nz-row nzJustify="center">
  <button
      nz-button
      nzType="primary"
      nzSize="large"
      nzShape="round"
      [disabled]="!formEmpleado.valid || !datosForm"
      (click)="alEnviarFormulario()"> 
      <em nz-icon nzType="edit"></em>{{textos.botonAgregar}}
  </button>
</div>
